# Ignore everything
/*

# Except this...
!*.vimrc
!*.bashrc
!*.zshrc
!*.tmux*
!bin/
!antigen/
!tmux-layouts/
!.gitignore

# Inlcude SSH folder
!.ssh
# But not the keys
.ssh/*
# But do include the config
!.ssh/config
